.body {
    margin: 0;
    font-family: sans-serif;
}
.container {
    max-width: 1280px;
    margin: auto;
}
.title-header {
    margin-top: 63px;
}
.logo {
color: #000;
font-size: 80px;
font-weight: 400;
margin-bottom: 40px;
}
.logo span {
    color: #4bcaff;
 }
.menu-navigation {
    background-color: #35444f;
    flex-direction: row;
    display: flex;
    justify-content: center;
    list-style: none;
}
.menu-item {
    padding: 24px 32px 18px 32px;
    border-right: 1px solid #fff;
}
.menu-link {
    font-size: 24px;
    color: #FFF;
    text-decoration: none;
}
.menu-item:first-of-type {
    border-left: 1px solid #fff;
}
.content {
    display: flex;
    flex-direction: row;
    margin-top: 49px;
}
.left-menu ul {
    list-style: none;
    border: 1px solid #000;
    margin:0 54px 0 0;
    padding: 0px;
    width: 344px;
}
.left-menu-item {
    padding: 26px 44px;
}
.left-menu-link {
    color:  #485863;
    font-size: 27px;
    text-decoration: none; 
}
.image {
border: 1px solid #000;
display: flex;
justify-content: center;
align-items: center;
}
.image img {
    margin-top: 75px;
    margin-bottom: 73px;
    margin-right: 268px;
    margin-left: 297px;
}
.text {
    margin-top: 37px;
}
.text p {
    color:#2c2c2c ;
    font-size: 18px;
}
.footer-content {
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
    background:rgba(99, 105, 110, 0.48);
    align-items: center;
    padding: 0 40px;
    margin-bottom: 30px;
    margin-top: 54px;
}
.footer-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-list-item {
    padding: 14px 28px;
}
.footer-link {
    color:  #0c1927;
    font-size: 20px;
    text-decoration: none; 
}
.footer-copyright {
    color: #010101;
    font-size: 20px;
}
.footer-link:hover{
    color: #3181a6;
    text-decoration: underline;
}
.menu-item:hover { 
    background:  #222f3a;
}
.left-menu-item:hover {
    background: #dbdbdb;
}